@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Lexend:wght@300;400;500;600&display=swap");

body {
  /* background-color: #15161a;
  color: #a2a1a3; */
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}
/* 
.dark-mode .form-control-dark {
  color: #b2b9c0;
  background-color: #222222;
  background-clip: padding-box;
  border: 1px solid #15161a00;
  font-size: 14px;
}

.form-control-dark {
  color: #222222;
  background-color: #ededed;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  font-size: 14px;
}

.dark-mode .form-control:focus {
  color: #eaebeb;
  background-color: #2b2c33;
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 transparent;
}

.form-control:focus {
  color: #111;
  background-color: #dddddd;
  border-color: #ccc;
  outline: 0;
  box-shadow: inset 0 0 0 transparent;
} */

.dark-mode .btn-secondary {
  color: #fff;
  background-color: #15161a;
  border-color: #15161a;
  box-shadow: none;
}

.btn-secondary {
  color: #212529;
    background-color: #efefef;
    border-color: #bbbbbb;
    box-shadow: none;
}

.bg-dark {
  background-color: #15161a !important;
}

.dark-mode .btn-secondary {
  background-color: #1e1f24 !important;
  border: 1px solid #15161a00;
}

.dark-mode .input-group-text {
  background-color: #1e1f24;
  border: 1px solid #15161a00;
}

.dark-mode .my-sidebar{
  background-color: #1b1c20;
}

.my-sidebar {
  width: 5%;
  z-index: 999;
  position: fixed;
  height: 100vh;
  background-color: #eeeeee;
}

.main {
  /* width:95%; */
  margin-left: 5%;
  width: calc(100% - 5%);
  padding: 15px;
}

.content {
  padding: 0 0.5rem;
}

.page-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(50vh - 130px);
  margin-bottom: 0;
}

.page-error h1 {
  margin: 10px;
  color: #dc3545;
  font-size: 42px;
}

.line {
  height: 4px;
  width: 100px;
  background: #e8e8e8;
  margin-top: 20%;
}
.line .inner {
  width: 100px;
  height: inherit;
  background: #5be300;
  animation: slider 2s ease-in-out infinite;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  color: #000;
  background: transparent url("./../images/cross.svg") 50%/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
}

@keyframes slider {
  0% {
    transform-origin: left;
    transform: scalex(0.3);
  }
  25% {
    transform-origin: left;
    transform: scalex(1);
  }
  26% {
    transform-origin: right;
    transform: scalex(1);
  }
  50% {
    transform-origin: right;
    transform: scalex(0.3);
  }
  75% {
    transform-origin: right;
    transform: scalex(1);
  }
  76% {
    transform-origin: left;
    transform: scalex(1);
  }
  100% {
    transform-origin: left;
    transform: scalex(0.3);
  }
}

body > iframe[style*="2147483647"] {
  display: none;
}

table > tbody > tr > td {
  font-size: 13px;
}

.dark-mode .table thead th {
  border-bottom: 2px solid #1e1f24;
}

.table thead th {
  vertical-align: bottom;
  font-size: 13px;
}

.table td,
.table th {
  padding: 0.75rem;
  font-size: 13px;
  vertical-align: top;
  border-top: 1px solid #d1d1d1;
}

.transparent {
  background-color: #00000000;
}
.dark-mode .btn-muted {
  background-color: transparent;
  color: #fff;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.btn-muted {
  background-color: transparent;
  color: #333;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-weight: 400;
  color: #939393;
  font-size: 14px;
}

.dark-mode .title {
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
}

.mediaicon {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  display: grid;
  align-content: center;
  background-color: #00bc8c;
}

.tableimg {
  width: auto;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  display: grid;
  align-content: center;
  background-color: #00bc8c;
}

.table-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: -14px;
  background: #fff;
  border: 2px solid #e4e4e4;
}

.login {
  height: 100vh;
  width: 100%;
}
.login-card {
  margin-top: 200px;
}
.login-logo {
  height: 60px;
}

.header-logo {
  height: 40px;
}

.text-white {
  color: #111111 !important;
}

.dark-mode .text-white {
  color: #ffffff !important;
}

.dark-mode .card {
  background: #1b1c20;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 2px #0000004a;
}

.card {
  background: #efefef;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 4px 2px #0000004a;
}

.badge-lg {
  padding: 3px 7px 3px 7px;
  border-radius: 10px;
}

.dark-mode .input-elevated {
  color: #888;
  background: #1b1c20;
  border: 1px solid #171717;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 viewBox=%270 0 20 20%27><path fill=%27%23838D99%27 d=%27M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z%27></path></svg>");
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.input-elevated {
  font-size: 13px;
  line-height: 1.5;
  /* border: none; */
  color: #ddd;
  background: #eee;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%2720%27 height=%2720%27 viewBox=%270 0 20 20%27><path fill=%27%23838D99%27 d=%27M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z%27></path></svg>");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border: 1px solid #ced4da;
  background-size: 20px 17px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 300px;
  padding: 0.7em 1em 0.7em 3em;
}

.input-elevated::placeholder {
  color: #999;
}

.input-elevated:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}
.currency-card {
  width: 18%;
  margin-right: 2%;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.dark-mode .sidebar-list {
  background: #1b1c20;
}

.sidebar-list-item {
  position: relative;
  display: block;
  text-align: center;
  color: #222222;
  padding: 12px 12px 12px 0px;
  margin-left: 14px;
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.dark-mode .sidebar-list-item {
  position: relative;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 12px 12px 12px 0px;
  margin-left: 14px;
  border: 0px solid rgba(0, 0, 0, 0.125);
}

.sidebar-list-item:hover {
  background: #f3ba2f;
  color: #111111;
  border-radius: 8px 0px 0px 8px;
}

.dark-mode .sidebar-list-item:hover {
  background: #f3ba2f;
  color: #fff;
  border-radius: 8px 0px 0px 8px;
}

.dark-mode .list-group-item-dark {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background: transparent;
  color: #ddd;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-dark {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background: transparent;
  color: #111;
  font-size: 13px;
  border: 1px solid rgba(197, 197, 197, 0.125);
}

label {
  font-size: 13px !important;
  font-weight: 300 !important;
}

.list-group-item.active {
  z-index: 2;
  color: #111;
  border: 0;
  background-color: #f3ba2f;
  /* border-color: #947428; */
}

.icon-lg {
  font-size: 15px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.2rem 0.7rem;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.dark-mode .border-hr {
  border: 1px solid #333333;
}

.dark-mode .navbar-light {
  background-color: transparent;
}

.border-hr {
  border: 1px solid #dddddd;
}

.dark-mode .right-sidebar {
  background-color: #1b1c20;
}

.right-sidebar {
  height: 100%;
  width: 450px;
  right: 0;
  top: 0;
  background-color: #eee;
  position: fixed !important;
  z-index: 1;
  box-shadow: -5px 2px 4px #15161a !important;
  overflow: auto;
}

.right-sidebar-animate {
  position: relative;
  animation: animateright 0.4s;
}
@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
