body {
  background-color: #15161a;
}

.form-control-dark {
  color: #b2b9c0;
  background-color: #1e1f24;
  background-clip: padding-box;
  border: 1px solid #15161a00;
}
.form-control:focus {
  color: #eaebeb;
  background-color: #2b2c33;
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 transparent;
}

.content {
  padding: 0 0.5rem;
}

.page-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(50vh - 130px);
  margin-bottom: 0;
}

.page-error h1 {
  margin: 10px;
  color: #dc3545;
  font-size: 42px;
}


.line {
  height: 4px;
  width: 100px;
  background: #e8e8e8;
  margin-top: 20%;
}
.line .inner {
  width: 100px;
  height: inherit;
  background: #5be300;
  animation: slider 2s ease-in-out infinite;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  color: #000;
  background: transparent url("./../images/cross.svg") 50%/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: .5;
}


@keyframes slider {
  0% {
    transform-origin: left;
    transform: scalex(0.3);
  }
  25% {
    transform-origin: left;
    transform: scalex(1);
  }
  26% {
    transform-origin: right;
    transform: scalex(1);
  }
  50% {
    transform-origin: right;
    transform: scalex(0.3);
  }
  75% {
    transform-origin: right;
    transform: scalex(1);
  }
  76% {
    transform-origin: left;
    transform: scalex(1);
  }
  100% {
    transform-origin: left;
    transform: scalex(0.3);
  }
}

body > iframe[style*='2147483647']{
  display: none;
}

table > tbody > tr > td {
  font-size: 15px;
}

.transparent {
  background-color: #00000000;
}
.dark-mode .btn-muted{background-color:transparent;color:#fff;border: 0;padding-left: 15px;padding-right: 15px;}
.btn-muted{background-color:transparent;color:#333;border: 0;padding-left: 15px;padding-right: 15px;}

.title {
  font-weight: 400;
  color: #939393;
  font-size: 14px;
}

.dark-mode .title {
  font-weight: 400;
  color: #a7a7a7;
  font-size: 14px;
}

.mediaicon {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  display: grid;
  align-content: center;
  background-color: #00bc8c;
}

.tableimg {
  width: auto;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  display: grid;
  align-content: center;
  background-color: #00bc8c;
}

.table-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: -14px;
  background: #fff;
  border: 2px solid #e4e4e4;
}

.login {
  height: 100vh;
  padding: 150px
}

.login-logo {
  width: 60px;
}